[uwsgi]
chdir = {{ pyramid_wsgiapp_basedir }}
home  = {{ pyramid_wsgiapp_basedir }}/.venv
wsgi-file = {{ pyramid_wsgiapp_basedir }}/wsgi.wsgi
processes = {{ cpu_count.stdout }}
vacuum = true
master = true
socket = /run/uwsgi/{{ pyramid_wsgiapp_domain_name }}.sock
chmod-socket = 644
