[uwsgi]
chdir = {{ item.base_dir }}
home  = {{ item.base_dir }}/.venv
wsgi-file = {{ item.base_dir }}/wsgi.wsgi
processes = {{ cpu_count.stdout }}
vacuum = true
master = true
socket = /run/uwsgi/{{ item.domain_name }}.sock
chmod-socket = 644
