[uwsgi]
chdir = {{ python_wsgiapp_basedir }}
home  = {{ python_wsgiapp_basedir }}/.venv
wsgi-file = {{ python_wsgiapp_basedir }}/wsgi.wsgi
processes = {{ cpu_count.stdout }}
vacuum = true
master = true
socket = /run/uwsgi/{{ python_wsgiapp_domain_name }}.sock
chmod-socket = 644
